//
// Component: List
//
// ========================================================================


// Variables
// ========================================================================

@inverse-list-bullet-icon-color:                  @global-primary-background;


// Style modifiers
// ========================================================================

.hook-list-divider() {}

.hook-list-striped() {}

.hook-list-bullet() {}


// Miscellaneous
// ========================================================================

.hook-list-misc() {}


// Inverse
// ========================================================================

@inverse-list-bullet-icon-color:                  @inverse-global-primary-background;

.hook-inverse-list-divider() {}
.hook-inverse-list-striped() {}
.hook-inverse-list-bullet() {}

// Checkup Ablauf

#ablauf-checkup {
  max-width: 400px;
  dd {margin: 0 0 30px 55px;}
  dt {
    width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #a1505a;
      color: white;
      letter-spacing: 0.09rem;
      font-size: 1.3rem;
      margin: 0 0 -46px 0px;
      font-weight: 100;
  }

}
